mixin slider({ min, max, step, from, to, isRange, isTip, isBar, isVertical} = {})
  .slider.js-fer-slider(
    data-min=min
    data-max=max 
    data-step=step
    data-from=from
    data-to=to
    data-is-range=isRange
    data-is-tip=isTip
    data-is-bar=isBar
    data-is-vertical=isVertical
  )